@import url(https://fonts.googleapis.com/css?family=Roboto:500);
* {
    font-family: "Roboto";
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto;
    height: 100%;
}

.content-style {
    position: relative;
    text-align: center;
    padding: 30px 50px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    background-color: rgb(253, 251, 251);
}

.forms {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 30px;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px 12px;
    width: 100%;
    align-self: center;
}

.button-lr {
    margin: 15px 0px 0px 0px;
    border-radius: 15px;
    background-color: #54dd54;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-style: none
}

.login-button {
    /* TODO */
}

.register-button {
    /* TODO */
}

.google-button {
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 0px 10px;
}

.google-icon-wrapper {
    margin: 1px 0px 0px 1px;
    position: absolute;
}

.google-icon {
    margin-top: 11px;
    margin-left: 5px;
    height: 18px;
    width: 18px;
}

.btn-text {
    float: right;
    color: black;
    margin-left: 30px;
    letter-spacing: 1px;
}

.or-label {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

.google-button:hover {
    background-color: rgb(219, 237, 250);
    border-color: rgb(48, 163, 245);
}

.button-lr:hover {
    background-color: #31c431;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
    border: 2px solid rgb(48, 163, 245);
}