@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.forms {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.form {
    margin-bottom: 20px;
    font-size: 13pt;
    border-radius: 15px;
    padding: 5px 10px;
}

.button-lr {
    margin: 5px 0px 15px 0px;
    border-radius: 20px;
    background-color: #1dbc1d;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-buttons {
    display: flex;
}

.lr-button {
    /* TODO */
}

.google-button {
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    border-style: 1px solid;
}

.google-btn {
    width: 180px;
}

.google-icon-wrapper {
    margin: 1px 0px 0px 1px;
    position: absolute;
}

.google-icon {
    margin-top: 11px;
    margin-left: 10px;
    height: 18px;
    width: 18px;
}

.btn-text {
    float: right;
    font-family: "Roboto";
    font-size: 13px;
    color: black;
    margin-right: 10px;
    letter-spacing: 1px;
}

.or-label {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}

.google-button:hover {
    background-color: rgb(181, 220, 248);
}

.button-lr:hover {
    background-color: #17ac17;
}

button {
    border-radius: 5px;
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}