@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 20px;
}

.col-img {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.column {
    border-radius: 0.5rem;
    border: .0625rem solid #dadce0;
    height: 250px;
    width: 380px;
    position: relative;
    box-sizing: border-box;
    margin: 15px 15px;
}

main {
    margin-top: 90px;
}

.column:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.class-label {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 25px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    text-decoration: none;
}

.class-label:hover {
    text-decoration: underline;
}

.lecturer-label {
    color: white;
    font-size: 15px;
    position: absolute;
    left: 20px;
    top: 60px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

.lecturer-icon {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 25px;
    top: 50px;
    border-radius: 50%
}

.popup-container {
    top: 0px;
    z-index: 99999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', serif;
    visibility: hidden;
}

.popup-style {
    max-width: 500px;
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
    justify-content: center;
}

.popup {
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.popup-container input {
    font-size: 15px;
    padding: 15px 10px;
    background-color: rgb(241, 243, 246);
    border: none;
    margin: 10px 0px;
    width: 450px;
    font-family: 'Open Sans', serif;
    border-bottom: 1px solid;
}

.join-popup-container {
    top: 0px;
    z-index: 99999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', serif;
    visibility: hidden;
}

.join-popup-style {
    max-width: 500px;
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
    justify-content: center;
}

.join-popup {
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.join-popup-container input {
    font-size: 15px;
    padding: 15px 10px;
    background-color: rgb(241, 243, 246);
    border: none;
    margin: 10px 0px;
    width: 450px;
    font-family: 'Open Sans', serif;
    border-bottom: 1px solid;
}

.create-label {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.small-text {
    font-size: 13px;
    color: gray;
    margin: 2px 0px 5px 0px;
}

button {
    font-family: 'Open Sans', serif;
}

.popup-buttons {
    margin-top: 15px;
    text-align: right;
}

input:focus {
    outline: none;
    border-bottom: 1px solid rgb(48, 163, 245);
}

input:hover {
    background-color: rgb(228, 231, 235);
}

@media only screen and (max-width: 840px) {
    .row {
        padding-left: 10px;
        justify-content: center;
    }
}

@media only screen and (max-width: 440px) {
    .row {
        padding-left: 10px;
    }
    .column {
        width: 250px;
        height: 150px;
        margin: 15px 10px;
    }
    .lecturer-icon {
        position: absolute;
        height: 60px;
        width: 60px;
        right: 20px;
        top: 30px;
        border-radius: 50%
    }
    .col-img {
        width: 250px;
    }
    .class-label {
        left: 10px;
        top: 10px;
        font-size: 15px;
    }
    .lecturer-label {
        color: white;
        font-size: 10px;
        position: absolute;
        left: 10px;
        top: 35px;
        font-family: 'Google Sans', Roboto, Arial, sans-serif;
    }
}