.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 20px;
}

.col-img {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.column {
    border-radius: 0.5rem;
    border: .0625rem solid #dadce0;
    height: 250px;
    width: 380px;
    position: relative;
    box-sizing: border-box;
    margin: 15px 15px 15px 15px;
}

main {
    margin-top: 30px;
}

.column:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.class-label {
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 25px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    text-decoration: none;
}

.class-label:hover {
    text-decoration: underline;
}

.lecturer-label {
    color: white;
    font-size: 15px;
    position: absolute;
    left: 20px;
    top: 60px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

.lecturer-icon {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 25px;
    top: 50px;
    border-radius: 50%
}