@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#logo {
    font-size: 20px;
    color: #5f6368;
    letter-spacing: 0.1px;
    font-family: 'Open Sans', serif;
}

body {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: .0625rem solid #e0e0e0;
    padding: 0px 40px 0px 40px;
}

nav {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li a {
    font-family: 'Open Sans', serif;
    color: black;
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    letter-spacing: 0.1px;
    transition: all 0.5s ease;
}