@import url(https://fonts.googleapis.com/css?family=Open+Sans);
header {
    font-family: 'Open Sans', serif;
}

.logo {
    font-size: 22px;
    color: #5f6368;
    letter-spacing: 0.1px;
    margin-left: 10px;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 999;
    border-bottom: .0625rem solid #e0e0e0;
    top: 0;
}

nav {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.1px;
}

.middle-text a {
    color: #5f6368;
    font-weight: bold;
    padding: 23px;
    letter-spacing: .02em;
}

.curr-page {
    border-bottom: 4px solid black;
    border-radius: 1px;
}

.middle-text a:hover {
    background-color: #F0F0F0;
}

.girl-icon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.burger-icon img {
    width: 20px;
    height: 20px;
}

.plus-button {
    font-size: 26px;
}

button {
    background-color: white;
    border: none;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: rgb(236, 236, 236);
}

ul {
    padding: 0px;
}

ul:nth-child(1) {
    padding-left: 30px;
}

ul:last-child {
    padding-right: 30px;
}

.middle-text {
    margin-right: 100px;
}

.right-stuff {
    height: 30px;
}

.invite-button {
    font-family: 'Open Sans', serif;
    font-size: 15px;
    font-weight: bold;
    color: #5f6368;
}

/* DROPDOWN MENU */

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 111;
    box-shadow: 0 0 5px lightgray;
}

.dropdown-button {
    text-align: left;
    padding: 10px 0px 10px 15px;
    width: 130px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-button:hover {
    background-color: rgb(236, 236, 236);
}

@media only screen and (max-width: 720px) {
    .middle-text a {
        display: none;
    }
    .middle-text {
        margin: 0;
    }
}

@media only screen and (max-width: 440px) {
    .burger-icon {
        display: none;
    }
    ul:nth-child(1) {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 270px) {
    .logo {
        display: none;
    }
}