#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 380px;
    margin: 280px auto;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 15px;
    padding: 20px 20px 0px 20px;
    background-color: rgb(253, 251, 251);
}