#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 430px;
    margin: 300px auto;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 10px;
    padding: 20px 20px 0px 20px;
    background-color: #F5F5F5;
}