@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
main {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 40%;
    margin-top: 30px;
}

h2 {
    font-size: 2rem;
    border-bottom: 0.5px solid gray;
    padding: 0px 0px 15px 20px;
    margin-bottom: 15px;
}

table {
    width: 100%;
}

#title-container {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2rem;
    border-bottom: 0.5px solid gray;
    padding: 20px 20px 15px 20px;
    margin: 20px 0px 0px 0px;
}

#stud-label-styling {
    font-size: 15px;
}

svg {
    width: 35px;
    height: 35px;
    margin-left: 20px;
}

td:nth-child(1) {
    width: 70px;
}

td:nth-child(2) {
    font-size: 17px;
    font-weight: 1000;
}

td:nth-child(3) {
    text-align: right;
}

td:nth-child(3)>svg {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

td {
    vertical-align: middle;
    padding-top: 1em;
    padding-bottom: 1em;
}

tr {
    border-bottom: 0.5px solid lightgray;
}

table {
    border-collapse: collapse;
}

tr:last-of-type {
    border-bottom: none;
}