@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* STYLING FOR ALL COMPONENTS */

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin-top: 100px;
}

/* ============================== */

/* HEADER */

header {
    font-family: 'Open Sans', serif;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 999;
    border-bottom: .0625rem solid #e0e0e0;
    top: 0;
}

header .logo {
    font-size: 22px;
    color: #5f6368;
    letter-spacing: 0.1px;
    margin-left: 10px;
}

header nav {
    display: flex;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.1px;
}

.middle-text a {
    color: #5f6368;
    font-weight: bold;
    padding: 23px;
    letter-spacing: .02em;
}

.curr-page {
    border-bottom: 4px solid black;
    border-radius: 1px;
}

.middle-text a:hover {
    background-color: #F0F0F0;
}

.girl-icon {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.burger-icon img {
    width: 20px;
    height: 20px;
}

.plus-button {
    font-size: 26px;
}

header button {
    background-color: white;
    border: none;
}

header button:hover {
    background-color: rgb(245, 245, 245);
}

header ul {
    padding: 0px;
}

header ul:nth-child(1) {
    padding-left: 30px;
}

header ul:last-child {
    padding-right: 30px;
}

.middle-text {
    margin-right: 100px;
}

.right-stuff {
    height: 30px;
}

.invite-button {
    font-family: 'Open Sans', serif;
    font-size: 15px;
    font-weight: bold;
    color: #5f6368;
}

/* ============================== */

/* HEADER DROPDOWN MENU */

.dropdown {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 111;
    box-shadow: 0 0 5px lightgray;
}

.dropdown-button {
    text-align: left;
    padding: 10px 0px 10px 15px;
    width: 130px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    font-family: 'Open Sans', serif;
}

.dropdown-button:hover {
    background-color: rgb(236, 236, 236);
}

/* ============================== */

/* WELCOME PAGE STYLING */

.welcome-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.welcome-content-style {
    max-width: 850px;
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.welcome-heading-style {
    letter-spacing: -0.5px;
    line-height: 52px;
    font-family: "Roboto";
    font-size: 52px;
    font-weight: lighter;
    margin-bottom: 40px;
    width: 90%;
}

.welcome-small-text {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 100;
    letter-spacing: .1px;
    line-height: 28px;
    color: #999b9e;
    width: 90%;
}

.go-button-style {
    margin: 40px 0px;
    color: #1a73e8;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    background-color: #fff;
    border-color: #dadce0;
    border-radius: 5px;
    min-height: 48px;
    min-width: 96px;
    padding: 2px 24px;
}

.go-button-style:hover {
    background-color: #f2f8ff;
    border-color: #1a73e8;
}

/* ============================== */

/* AUTHORIZATION STYLING */

.auth-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    font-family: "Roboto";
}

.auth-wrapper .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto;
    height: 100%;
}

.auth-wrapper .content-style {
    position: relative;
    text-align: center;
    padding: 30px 50px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    border-radius: 5px;
    background-color: rgb(253, 251, 251);
}

.auth-wrapper .forms {
    display: flex;
    flex-direction: column;
}

.auth-wrapper input {
    margin: 10px 30px;
    font-size: 16px;
    border-radius: 15px;
    padding: 5px 12px;
    width: 100%;
    align-self: center;
}

.auth-wrapper input:focus {
    border: 2px solid rgb(48, 163, 245);
}

.button-lr {
    margin: 15px 0px 0px 0px;
    border-radius: 15px;
    background-color: #54dd54;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-style: none
}

.login-button {
    /* TODO */
}

.register-button {
    /* TODO */
}

.google-button {
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 0px 10px;
}

.google-icon-wrapper {
    margin: 1px 0px 0px 1px;
    position: absolute;
}

.google-icon {
    margin-top: 11px;
    margin-left: 5px;
    height: 18px;
    width: 18px;
}

.btn-text {
    float: right;
    color: black;
    margin-left: 30px;
    letter-spacing: 1px;
}

.or-label {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}

.google-button:hover {
    background-color: rgb(219, 237, 250);
    border-color: rgb(48, 163, 245);
}

.button-lr:hover {
    background-color: #31c431;
}

/* ============================== */

/* STREAM PAGE STYLING */

.classroom-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classroom-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    font-family: 'Open Sans', Roboto, Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.title-image {
    position: relative;
    border-radius: 10px;
    width: 1010px;
    height: 250px;
}

.upper-part-label {
    padding: 13px 0px;
    font-size: 17px;
    font-weight: 0;
    color: gray;
    font-family: "Roboto"
}

.upper-part-image {
    position: relative;
    width: 1010px;
    height: 250px;
}

.additional-info-wrapper {
    visibility: hidden;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.additional-info {
    padding: 15px 1.5rem;
}

.upper-part-bold-label {
    color: black;
    font-weight: 900;
}

.show-additional-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    border: none;
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
}

.show-additional-info svg {
    margin: 0;
    width: 24px;
    height: 24px;
    fill: white;
}

.show-additional-info:hover {
    background: rgba(255, 255, 255, 0.05);
}

/* ============================== */

/* STUDENTS PAGE STYLING */

.students-main {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 800px;
}

h2 {
    font-size: 2rem;
    border-bottom: 0.5px solid gray;
    padding: 0px 0px 15px 20px;
    margin-bottom: 15px;
}

table {
    width: 100%;
}

.title-container {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 2rem;
    border-bottom: 0.5px solid gray;
    padding: 20px 20px 15px 20px;
    margin: 20px 0px 0px 0px;
}

.stud-label-styling {
    font-size: 15px;
}

svg {
    width: 35px;
    height: 35px;
    margin-left: 20px;
}

td:nth-child(1) {
    width: 70px;
}

td:nth-child(2) {
    font-size: 17px;
    font-weight: 1000;
}

td:nth-child(3) {
    text-align: right;
}

td:nth-child(3)>svg {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

td {
    vertical-align: middle;
    padding-top: 1em;
    padding-bottom: 1em;
}

tr {
    border-bottom: 0.5px solid lightgray;
}

table {
    border-collapse: collapse;
}

tr:last-of-type {
    border-bottom: none;
}

/* ============================== */

/* COURSES PAGE STYLING */

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 20px;
}

.col-img {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.column {
    border-radius: 0.5rem;
    border: .0625rem solid #dadce0;
    height: 250px;
    width: 380px;
    position: relative;
    box-sizing: border-box;
    margin: 15px 15px;
}

.column:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.class-label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1rem;
    color: white;
    font-size: 25px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    text-decoration: none;
}

.class-label:hover {
    text-decoration: underline;
}

.lecturer-label {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 35px;
    left: 0;
    padding: 1rem;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
}

.lecturer-icon {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 25px;
    top: 50px;
    border-radius: 50%
}

/* ================================================== */

/* POPUP WINDOW */

.popup-container {
    top: 0px;
    z-index: 99999;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', serif;
    visibility: hidden;
}

.popup-style {
    max-width: 500px;
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
    justify-content: center;
}

.popup {
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.popup-container input {
    font-size: 15px;
    padding: 15px 10px;
    background-color: rgb(241, 243, 246);
    border: none;
    margin: 10px 0px;
    width: 450px;
    font-family: 'Open Sans', serif;
    border-bottom: 1px solid;
}

.popup-main-label {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.popup-small-text {
    font-size: 13px;
    color: gray;
    margin: 2px 0px 5px 0px;
}

.popup-buttons {
    margin-top: 15px;
    text-align: right;
}

.popup-container button {
    font-family: 'Open Sans', serif;
    background-color: white;
    border: none;
    padding: 5px;
}

.popup-container input:focus {
    border-bottom: 1px solid rgb(48, 163, 245);
}

.popup-container input:hover {
    background-color: rgb(228, 231, 235);
}

.popup-container button:hover {
    background-color: rgb(245, 245, 245);
}

/* ================================================== */

/* HEADER MEDIA QUERIES */

@media only screen and (max-width: 1100px) {
    .middle-text {
        margin: 0;
    }
}

@media only screen and (max-width: 700px) {
    .middle-text a {
        display: none;
    }
}

@media only screen and (max-width: 440px) {
    .burger-icon {
        display: none;
    }
    header ul:nth-child(1) {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 285px) {
    header .logo {
        display: none;
    }
}

/* STUDENTS MEDIA QUERIES */

@media only screen and (max-width: 850px) {
    .students-main {
        width: 90%;
    }
}

@media only screen and (max-width: 400px) {
    h2 {
        font-size: 1.5rem;
        margin-bottom: 0px;
        padding: 0px 0px 10px 10px;
    }
    .stud-label-styling {
        font-size: 12px;
    }
    .title-container {
        font-size: 1.5rem;
        padding: 10px 0px 10px 10px;
        margin: 0px;
    }
    svg {
        margin-left: 10px;
    }
    td:nth-child(1) {
        width: 50px;
    }
    td:nth-child(3)>svg {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 215px) {
    .stud-label-styling {
        display: none;
    }
}

/* MEDIA QUERIES FOR COURSES PAGE */

@media only screen and (max-width: 840px) {
    .row {
        padding-left: 10px;
        justify-content: center;
    }
}

@media only screen and (max-width: 440px) {
    .row {
        padding-left: 10px;
    }
    .column {
        width: 250px;
        height: 150px;
        margin: 15px 10px;
    }
    .lecturer-icon {
        position: absolute;
        height: 60px;
        width: 60px;
        right: 20px;
        top: 30px;
        border-radius: 50%
    }
    .col-img {
        width: 250px;
    }
    .class-label {
        font-size: 15px;
    }
    .lecturer-label {
        color: white;
        font-size: 10px;
        top: 25px;
        font-family: 'Google Sans', Roboto, Arial, sans-serif;
    }
}

/* MEDIA QUERIES FOR WELCOME */

@media only screen and (max-width: 1250px) {
    .welcome-img-style {
        width: 90%;
    }
}

@media only screen and (max-width: 850px) {
    .welcome-heading-style {
        font-size: 45px;
        margin-bottom: 20px;
        line-height: 45px;
    }
    .welcome-small-text {
        font-size: 15px;
        width: 70%;
        line-height: 25px;
    }
}

@media only screen and (max-width: 735px) {
    .welcome-heading-style {
        font-size: 35px;
        line-height: 35px;
    }
}

@media only screen and (max-width: 400px) {
    .welcome-heading-style {
        font-size: 30px;
    }
    .go-button-style {
        margin: 30px 0px 40px 0px;
        padding: 2px 18px;
        font-size: 13px;
    }
}

/* MEDIA QUERIES FOR AUTHORIZATION */

/* TODO */